h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent {
  color: #fbd784;
}
body {
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
  background: #0b1d26;
  color: #fff;
}
.container {
  max-width: 1462px;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 auto;
}
.flexy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-wrapper {
  background-color: transparent;
  outline: transparent;
  padding-top: 60px;
  padding-bottom: 200px;
}
.logo {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.header-nav-links {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.header-nav-links:hover {
  color: #fbd784;
  transform: translatey(-3px);
}
.header-account {
  display: inline-flex;
}
.header-account-link {
  display: flex;
  align-items: center;
  gap: 8px;
  fill: #fff;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}
/* Hero */
.hero-wrapper {
  position: relative;
}
.hero-title {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 600;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 32px;
}
.sub-title-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.sub-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
}
.sub-title-line {
  width: 72px;
  height: 2px;
  border-color: #fbd784;
  margin: 0 32px 0 0;
}
.hero-title-box {
  /* width: 950px; */
  width: 980px;
  margin: 0 auto;
}
.hero-scroll-box {
  display: flex;
  align-items: center;
}
.hero-scroll {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}
.hero-icon {
  margin-left: 16px;
  fill: #fff;
  transition: fill 300ms ease-in-out;
}
.hero-scroll:hover {
  color: #fbd784;
  transform: translatey(5px);
}
.hero-scroll:hover .hero-icon {
  fill: #fbd784;
}
.hero-follow-box {
  position: absolute;
  top: 72px;
  display: inline-flex;
  transform: rotate(90deg);
  transform-origin: left top;
  gap: 24px;
}
.hero-follow-box-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  transition: transform 300ms ease-in-out;
}
.hero-follow-icons {
  fill: #fff;
  transform: rotate(-90deg);
  transition: transform 300ms ease-in-out;
}
.hero-follow-box-link:hover {
  transform: scale(1.1) translateY(-5px);
}
.hero-follow-icons:hover {
  transform: scale(1.2) rotate(-90deg) translate(5px);
}
/* First Section ---- Get Started */
.started-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-box {
  position: relative;
  max-width: 632px;
  margin-left: 150px;
}
.section-box-sec {
  position: relative;
  max-width: 632px;
  margin-left: 264px;
}
.secondary-title {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 28px;
}
.title-counter {
  position: absolute;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: #fff;
  opacity: 0.1;
  top: -120px;
  left: -150px;
}
.section-txt {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  padding-bottom: 28px;
}
.section-read_more {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fbd784;
  display: flex;
  align-items: center;
  transition: transform 350ms ease-in-out;
}
.read-more-icon {
  display: flex;
  align-self: center;
  margin-left: 16px;
  fill: #fbd784;
}
.section-read_more:hover {
  transform: translateX(5px);
}
/* footer */
.footer-wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
}
.footer-logo-box {
  width: 350px;
}
.footer-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #fbd784;
  font-style: normal;
  margin-bottom: 24px;
}
.footer-txt {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  margin-top: 24px;
  width: 303px;
}
.footer-links {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  font-style: normal;
  transition: color 250ms ease-in-out;
}
.footer-links:hover {
  color: #fbd784;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-wrapper .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-copy {
  margin-top: 122px;
  opacity: 0.5;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
}
